body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: whitesmoke;
    color: black;
}

#board {
    background-color: lightgray;
    border-bottom: 3px solid black;
}
.topnav {
    overflow: hidden;
    box-shadow: 10px 10px grey;
    font-size: 17px;
    border: 2px solid black;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid black;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
.dark-mode {
background-color: black;
filter: invert(1);
}

  